form h1 {
  color: #009;
}

form>p {
  font-size: 22p
}

label~input {
  display: block;
}

*+fieldset {
  margin: 1em 0;
}

.required::after {
  content: ' (Required) ';
  color: #c00;
  font-size: .8em;
}

.help::before {
  content: '(';
}

.help::after {
  content: ')';
}

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}